<header>
    <nav>
        <a href="home.html">Home</a>
        <a href="about.html">About</a>
    </nav>
</header>
<main>
    <h1>Having fun!</h1>
    <p>
        Using HTML to make a contact page
        this is fun seeing my work on the
        page!
    </p>
    <p>
        You can check out Youtube for
        more HTML fun!
        <a href="https://youtube.com">Youtube</a>
    </p>
    <div>
        <div>Box 5</div>
        <div>Box 6</div>
        <div>Box 7</div>
    </div>
</main>
<footer>
    <div>Copyright 1982 by me!</div>
    <div>Apple Pie is my Favorite!</div>
</footer>
